<div class="mt-4" id="thpt_2024-search">
    <form
        class="form-inline justify-content-center"
        method="GET"
        action="/thpt_2024/show"
    >
        <div class="form-group mb-2" style="flex-grow: 1;">
            <label for="inputSBD" class="sr-only">Số báo danh</label>
            <input
                type="text"
                class="form-control w-100"
                id="inputSBD"
                name="sbd"
                placeholder="Nhập số báo danh"
                style="min-width: 400px;"
            />
        </div>
        <button type="submit" class="btn btn-primary ml-4 mb-2">Tra cứu</button>
    </form>
</div>