@import "variables";

.error_404 {
    margin-top: 100px;
    background-color: #69b6e4;
}
.card-course-item {
    margin-top: 20px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}
